.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.container{
    height: 210px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-flow: column;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffffd5;
}

table, td, th {
    border: 1px solid gray;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

td, th{
    padding:  8px 15px ;
}

.form{
    display: flex;
    align-items: start;
    flex-flow: column;
    border-radius: 20px;
}

.head{
    background: green;
    color: antiquewhite;
}

