.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.container{
    height: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-flow: column;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffffd5;
    border-radius: 20px;
}

.form{
    display: flex;
    align-items: start;
    flex-flow: column;
    border-radius: 20px;
}

.input{
    width: 236px;
    height: 30px;
}

.button{
    height: 40px;
    width: 80px;
    margin-top: 10px;
    background-color: rgb(19, 95, 51);
    color: whitesmoke;
    border-radius: 8px;
}