
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 20px;
    border: 1px solid grey;
    background-color: #ecececd5;
    border-radius: 30px;
}

.card{
    height: 280px;
    width: 500px;
    border-radius: 20px;
}

.cardbook{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: #ecececd5;
}


.left{
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: center;
    margin-left: 0px;
}

.right{
    display: flex;
    flex-flow: column;
    justify-content: right;
    align-items:center;
    margin-right: 0px;
}