.one{
    border: 2px solid red;
    display: inline;
    height: 100px;
    width: 100px;
    
}
.two{
    border: 2px solid black;
    display: block;
    height: 100px;
    width: 100px;

}
.three{
    border: 2px solid blue;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.divone{
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

.spanone{
    border: 2px solid red;
    height: 100px;
    width: 100px;
}
.imgone{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
}