#body{
    background-color: #4A5C6A;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #4A5C6A;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #9BABAB;
    color: #CCD0CF;
  }



  .logo{
    height: 50px;
    width: 50px;
    border-radius: 7px;
    margin-left: 10px;
    
  }

  .content{
    margin-top: -10px;
    margin-left: 40px;
    font-size: 50px;
    font-weight: bolder;
    color: #CCD0CF;
  }
  
  .button{
    background-color: #253745;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -20px 12px 0px 40px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #ddd;
    color: black;
  }

  .btn{
    height: 40px;
    background-color: #253745;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 5px 10px;
    cursor: pointer;
  }

    .btn:hover {
    background-color: #ddd;
    color: black;
  }
  
  .para{
    margin-top: -10px;
    border: 1px solid #4A5C6A;
    height: 70px;
    width: 390px;
    margin-left: 10px;

  }

  .centernav {
    background-color: #4A5C6A;
    overflow: hidden;
  }

  .centernav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .centernav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .centernav a.active {
    background-color: #9BABAB;
    color: #CCD0CF;
  }

  .table2{
    margin-top: 20px;

  }

  .leftfooter{
   float: left;
   margin-left: 50px;
   margin-bottom: 50px;
   padding: 10px 10px 10px 10px ;
  }


  .rightfooter{
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px ;

  }









