h1{
    background-color: aqua;
    color: brown;
   
}

p{
    background-color: bisque;
}

.one{
    background-color: peachpuff;
    font-size: 100px;
    font-weight:lighter;
    /* border: 25px outset black; */
    border: 3px solid black;
    /* margin-left: 50px; */
    margin: 50px 100px 40px 100px;
    justify-content: ;
}

#two{
    background-color: brown;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 50px 100px 50px 200px;
    /* margin-right: 30px; */
}