/* .parent{
    border: 2px solid black;
    display: flex;
     justify-content: flex-end; 
     justify-content: center; 
     justify-content: space-between; 
    justify-content: flex-end;
    align-items: end;

    height: 700px;
    width: 750px;
} */
/* .one{
    border: 2px solid red;
    height: 50px;
    width: 50px;
}
.two{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}
.three{
    border: 2px solid orange;
    height: 50px;
    width: 50px;
}
.four{
    border: 2px solid green;
    height: 50px;
    width: 50px;
} */


/* .pnt{
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.btn{
    color: black;
    background: cadetblue;
} */


.para{
    height: 200px;
    width: 200px;
    border: 2px solid brown;
    overflow: auto;
}
